.mov{
  background-color: rgba(22,20,10,0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.img{
  z-index: 1;
  width: 100%;
}

.flecha{
  z-index: 200;
}

.titulo{
  width: 50%;
  color: #f2f2f2;
  margin-left: 10%;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.fecha{
  width: 50%;
  color: #f2f2f2;
  flex-direction: column-reverse;
}

.texto_f{
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: right;
  padding-right: 10%;
}